{% extends "layout.html" %}
{% block title %}Login Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    {% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
    <form action="/login" method="post">
        <legend>Please sign in:</legend>
        <p><input name="username" placeholder="Username" value="{{ username }}"></p>
        <p><input name="password" placeholder="Password" type="password"></p>
        <p><button type="submit">Sign In</button></p>
    </form>
{% endblock %}
